{% extends "base.html" %}
{% load humanize %}<!-- for fun with naturaltime -->
{% block content %}

{% if error_message %}<div class="alert alert-warning">{{ error_message}}</div>{% endif %}

<div class="page-header">
    <h2>{% if category.category_id %}{{ category.name }}{% else %}Create a new Category{% endif %}</h2>
<div>

<form action="{% if category.category_id %}{% url 'categories-edit' category.category_id %}{% else %}{% url 'categories-create' %}{% endif %}", method="post">
{% csrf_token %}
    <p><strong>Name: </strong><input type="text" name="name" value="{{ category.name }}" /></p>
    <p><strong>Description: </strong><input type="text" name="description" value="{{ category.description}}" /></p>
    <p><strong>Color: </strong><input type="text" name="color" value="{{ category.color }}" /></p>
    <p><strong>Background Color: </strong><input type="text" name="background_color" value="{{ category.background_color }}" /></p>
<input type="submit" value="Submit" />

{% endblock %}

