{% extends "base.html" %}
{% load humanize %}
{% block content %}

{% if error_message %}
    <div class="alert alert-warning">
        {{ error_message }}
    </div>
{% endif %}

<div class="page-header">
    <h2>
        {% if question.question_id %}
            {{ question.body }}
        {% else %}
            Create a new Question
        {% endif %}
    </h2>
</div>

<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{ form.body|bootstrap }}
        </div>
        <div class="col-md-6">
            {{ form.answer|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.difficulty|bootstrap }}
        </div>

        <div class="col-md-9">
            {{ form.tags }}
        </div>
    </div>
    <div class="col-md-12">
        {{ form.categories|bootstrap }}
    </div>
    <input class="btn btn-lg main-button" type="submit" value="Submit" />
</form>

<script>
    $(document).ready(function() {
        $("#id_tags").select2({
            tags: {{ tags|safe }},
            tokenSeparators: [" ", ","],
        });
    });
</script>

{% endblock %}
