{% extends "base.html" %}
{% load humanize %}
{% block content %}

{% if error_message %}
    <div class="alert alert-warning">
        {{ error_message }}
    </div>
{% endif %}

<div class="page-header">
    <h2>{% if question.question_id %}{{ question.body }}{% else %}Create a new Question{% endif %}</h2>
</div>

<form action="" method="POST">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            {{ form.body|bootstrap }}
        </div>
        <div class="col-md-6">
            {{ form.answer|bootstrap }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <!--div class="btn-group" role="group" >
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div-->
            {{ form.difficulty|bootstrap }}
        </div>
        <div class="col-md-9">
            {{ form.tags|bootstrap }}
        </div>
    </div>

    <div class="col-md-12">
        {{ form.categories|bootstrap }}
    </div>

    <input class="btn btn-lg main-button" type="submit" value="Submit" />
</form>

{% endblock %}
