{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<div class="page-header">
    <h2>
        Questions
        <a class="btn main-button pull-right" href="{% url 'questions-create' %}">
            Add a question
        </a>
    </h2>
</div>

<div class="row">
    <form action="" method="get">
        <div class="col-md-3">
            {{ form.order|bootstrap }}
        </div>
        <div class="col-md-7">
            {{ form.tags|bootstrap }}
        </div>
        <div class="col-md-1">
            <input
                class="btn main-button"
                type="submit"
                value="Filter"/>
        </div>
    </form>
</div>

<hr />

<!-- List of questions -->
{% include "questions/_list.html" %}
{% endblock %}
