<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Interview Questions | ARC</title>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}

    <!--
        {% if user.is_cloaked %}
            <div class="alert alert-danger" id="mask-alert">
                <strong class="text-danger">You are masquerading as {{ user }}</strong>
                <form style="display:inline" method="post" action="{% url 'uncloak' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ on_uncloak_goto }}" />
                    <input type="submit" name="submit" value="Un-masquerade" class="btn btn-danger btn-xs" />
                </form>
            </div>
        {% endif %}
        <div class="{% if user.is_cloaked %}cloak-pushdown{% endif %}">
    -->

            <div class="container" id="header">
                <a href="http://www.pdx.edu"><img src="{% static 'img/logo.png' %}" alt="Home"></a>
                <a id="brand" href="#">{{ project_name }}</a>

                <div id="upper-info">
                    {% if user.is_authenticated %}
                        <p>logged in as <a href="#">{{ user }}</a></p>
                    {% endif %}
                </div>
            </div>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'categories-list' %}"><span class="glyphicon glyphicon-th-list"></span> Categories</a></li>
                            <li><a href="{% url 'questions-list' %}"><span class="glyphicon glyphicon-list"></span> Questions</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Account</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container" id="main">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>
            <div class="footer">
                <div class="container text-center text-muted">
                    <h6>Copyright &copy; {% now "Y" %}</h6>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>
